h1 {
    color : rgb(53, 103, 154);
    font-style: italic;
}

.userReg {
    color : rgb(73, 71, 71);
    padding-top: 5px;
    font-size: 15px;
}

.notification.added{
    color: rgb(44, 157, 15);
    background: rgb(215, 215, 215);
    font-size: 20px;
    border-style: solid;
    /* border-color: black; */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.notification.deleted {
    background-color: lightcoral; /* Color de fondo para la eliminación */
    background: rgb(215, 215, 215);
    font-size: 20px;
    border-style: solid;
    /* border-color: black; */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
